@mixin border($border){
    border: $border;
    -webkit-border: $border;
    -moz-border: $border;
    -ms-border: $border;
}

@mixin padding($top:10px,$bottom:10px){
    padding: {
        top: $top;
        bottom: $bottom;
    }
}